.rip {
    position: relative;
    padding: 1rem;
    background-size: auto 2px;
    background-repeat: repeat-x;
}

/* shared styles */
.rip::before,
.rip::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 2rem;
    /*background: #fff;*/
    transform: translateY(-50%);
}

/* left hole */
.rip::before {
    left: 0;
    border: 4px solid #d4af37;
    border-left: 0;
    border-radius: 0 2rem 2rem 0;
}

/* right hole */
.rip::after {
    right: 0;
    border: 4px solid #d4af37;
    border-right: 0;
    border-radius: 2rem 0 0 2rem;
}
